
html,
body {
	height: 100%;
	padding-left: 20px;
	padding-right: 20px;
	/* The html and body elements cannot have any padding or margin. */
}
html {
	
	zoom: 1;
}

td {
	padding: 5px;
}

/* Wrapper for page content to push down footer */

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -60px;
}
#wrap > .container {
	padding-top: 60px;
}


.navbar-fixed-top, .navbar-fixed-bottom {
	position: static;
	margin-left: -40px !important;
	margin-right: -40px !important;
}

/* Set the fixed height of the footer here */
#push,
#footer {
	height: 60px;
}
#footer {
	padding-top: 10px;
	background-color: rgba(200,200,200,0.32);
	text-align: right;
	margin-left: -40px;
	margin-right: -40px;
}
/*
 Modal Styles
*/

.modal-header, .close {
	background-color: #B8A45C;
	color:white !important;
	text-align: center;
	font-size: 30px;
}
.modal-footer {
	padding: 5px;
	border-top: none;
}

/* Lastly, apply responsive CSS fixes as necessary */

@media (max-width: 767px) {
	#footer {

		padding-left: 20px;
		padding-right: 20px;
	}
}
